h3 {
  color: white;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 30%;
  padding: 10px 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 20px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.card {
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
padding: 16px;
transition: 0.3s;
border-radius: 5px;
background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

.card:hover {
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

img {
  border-radius: 5px 5px 0 0;
}

.container {
padding: 2px 16px;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

@media screen and ( max-width: 600px ) {
  img.responsive { width: 100%; }
}
@media screen and ( min-width:601px ) and ( max-width: 800px ) {
  img.responsive { width: 100%; }
}
@media screen and ( min-width: 801px ) {
  img.responsive { width: 800px; }
}
img.responsive { height: auto; }


/* @media screen and (max-width: 1200px) and (min-width: 801px) {
  .column {
    width: 30%;
    display: block;
    margin-bottom: 20px;
  }
} */
