* {
  box-sizing: border-box;
}

body {
  background-color: #FFFFFF;
}

/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: white;/*inherit;*/
  width: 100%;
  max-width: 600px;
}

.container p {
  color: black;
}

.container span {
  color: white;
}

.container h3 {
  color: white;
  background-color: orange;
}


.container a {
  color: black;
}

.container ul {
  color: black;
}

.container img {
  display: block;
  max-width:600px;
  max-height:480px;
  width: 100%;
  height: auto;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* The actual content */
.content {
  border: 2px solid #333333;
  padding: 20px 30px;
  background-color: white; /*333333*/
  position: relative;
  border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Full-width containers */
  .container {
  width: 100%;
  padding-left: 25px;
  padding-right: 25px;
  }


}
