<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
<style>
  .bottom-three {
     margin-bottom: 1.5cm;
   }
  .bottom-small {
     margin-bottom: 1cm;
   }
</style>
</head>

<body class="page">

{% include _browser-upgrade.html %}

{% include _navigation.html %}

{% if page.image.feature %}
  <div class="image-wrap">
  <img src=
    {% if page.image.feature contains 'http://' %}
      "{{ page.image.feature }}"
    {% elsif page.image.feature contains 'https://' %}
      "{{ page.image.feature }}"
    {% else %}
      "{{ site.url }}/images/{{ page.image.feature }}"
    {% endif %}
  alt="{{ page.title }} feature image">
  {% if page.image.credit %}
    <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
  {% endif %}
  </div><!-- /.image-wrap -->
{% endif %}
<div id="main" role="main">
  <div class="article-author-side">
    {% include _author-bio.html %}
  </div>
  <article>
    <h1>{{ page.title }}</h1>
    {{ content }}
    <div class="article-wrap">
      <h3>Education</h3>
      <p>Doctor of Philosophy
        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mechanical Engineering
        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Louisiana State University
        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Baton Rouge, LA, USA
        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;May 2020
      </p>
      <p>Bachelor of Natural Science
        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Theoretical and Applied Mechanics
        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Univ. of Science and Technology of China
        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Hefei, Anhui, P.R. China
        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;July 2012
      </p>

      <hr />

      <h3>Research Interests</h3>
      <ul>
          <li>Multi-Agent System</li>
          <li>Cyber-Physical System</li>
          <li>Large-Scale Networked System</li>
          <li>Cooperative Control</li>
          <li>Distributed System/Algorithm</li>
          <li>Lyapunov-Based Nonlinear Control</li>
          <li>Robotics (Aerial/Ground/Underwater)</li>
      </ul>

      <hr />

      <h3>Professional Experience</h3>
      <p>Please refer to the <a href="https://liutairan.github.io/projects/" target="_blank">Projects</a> page for details.</p>
      <h4>Louisiana State University // Research</h4>
      <ul>
        <li>Multi-Agent System Formation Control</li>
        <li>Aerial Robotic Network for Agricultural Applications</li>
        <li>Computational Molecule Synthesis</li>
        <li>Multirotor Copter Applications in Agriculture</li>
      </ul>

      <h4>Louisiana State University // Teaching</h4>
      <ul>
        <li>Fundamentals of Instrumentation and Measurement (ME 3603)</li>
        <li>Autonomous Vehicles (ENGR 4200)</li>
        <li>Machine Design Lab (ME 4201)</li>
      </ul>
      <h4>University of Science and Technology of China // Research</h4>
      <ul>
        <li>Bionic Four-Tail Fin UUV (Mimic Dragonfly)</li>
        <li>Bionic Long Undulatory Fin UUV (Mimic Black Ghost Knifefish)</li>
        <li>Bionic Double-Tail Fin UUV</li>
        <li>Flow Trajectory After Passing Dual Circular Cylinders</li>
        <li>Composite Bionic Actuators</li>
      </ul>

      <hr />

      <h3>Publications</h3>
      <p>Please refer to the <a href="https://liutairan.github.io/publications/" target="_blank">Publications</a> page.</p>

      <hr />

      <h3>Awards and Honors</h3>
      <ul>
        <li>Outstanding Graduate Research Assistant, 2019
          <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Department of Mechanical and Industrial Engineering
          <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Louisiana State University
          <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Baton Rouge, LA, USA
        </li>
        <li>LSU-ME Enrichment Award, 2014
          <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Department of Mechanical and Industrial Engineering
          <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Louisiana State University
          <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Baton Rouge, LA, USA
        </li>
      </ul>

      <hr />

      <h3>Grants</h3>
      <h4>Co-authored Proposal</h4>
      <ul>
        <li>Transportation Consortium of South-Central States, Real-Time Work Zone Traffic Management via Unmanned Air Vehicles, $79,991, 18 months, Co-PIs: Charles Malveaux, Marcio de Queiroz, Xin Li, and Hany Hassan.</li>
      </ul>

      <hr />

      <h3>Professional Activities</h3>
      <h4>Reviewer</h4>
      <ul>
        <li>Automatica</li>
        <li>IEEE Transactions on Cybernetics</li>
        <li>IEEE Robotics and Automation Letters</li>
        <li>IEEE Conference on Decision and Control</li>
        <li>IEEE International Conference on Robotics and Automation</li>
      </ul>
      <h4>Membership</h4>
      <ul>
        <li>Institute of Electrical and Electronics Engineers (IEEE)</li>
        <li>Institute of Electrical and Electronics Engineers - Control Systems Society (IEEE-CSS)</li>
      </ul>

      <hr />

      <h3>Skills</h3>
      <h4>Hardware</h4>
      <p>Arduino, Raspberry Pi, STM32 FC, NodeMCU, XBee, etc.</p>
      <h4>Software</h4>
      <p>XCTU, QT Creator, Microsoft Office, TeXstudio, Inkscape, AutoCAD, Blender, Arduino IDE, OpenShot Video Editor, etc.</p>
      <h4>Programming Languages</h4>
      <p>Python, MATLAB/Simulink, C, C++ (associated with GUI design with QT).</p>
      <h4>Natural Languages</h4>
      <p>Chinese (mother tongue) and English.</p>
      <h4>Others</h4>
      <p>HPC (Philip@LSU, SuperMike-II@LSU, QB2@LONI), LaTeX.</p>

      <hr />

      <h3>Other Experience</h3>
      <ul>
        <li>Robo-Game Competition of USTC (2010)</li>
      </ul>

      <hr />

      <h3>Graduate Level Courses</h3>
      <ul>
        <li>Advanced Mechanical Systems Control</li>
        <li>Introduction to Modern Control Theory</li>
        <li>Advanced Linear Systems</li>
        <li>Advanced Topics in Control</li>
        <li>Industrial Robotics</li>
        <li>Topics in Modern System Science</li>
        <li>Advanced Engineering System Dynamics</li>
        <li>Sensors and Actuators</li>
        <li>Numerical Methods in Applied Mechanics</li>
        <li>Advanced Vibrations</li>
        <li>Mathematics Methods in Engineering</li>
        <li>Intelligent Control and Applications in Power Systems</li>
        <li>Stress Analysis in Mechanical Engineering</li>
      </ul>

      <hr />
      <footer role="contentinfo">
        <div class="article-author-bottom">
          {% include _author-bio.html %}
        </div>
      </footer>
    </div><!-- /.article-wrap -->
    {% if site.disqus_shortname and page.comments %}
      <section id="disqus_thread"></section><!-- /#disqus_thread -->
    {% endif %}
  </article>
</div><!-- /#index -->

<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}

</body>
</html>
